
{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block body %} 
<div class="container">
   <div class="starter-template">
      <h1>Persona</h1>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>
      <table class="table table-striped table-responsive">
         <thead>
            <tr>
               <td>No.</td>
               <td>Nombre</td>
                <td>Apellido Paterno</td>
                 <td>Apellido Materno</td>
                  <td>Fecha de Nacimiento</td>
               <td>Botones</td>
            </tr>
         </thead>
         <tbody>
         {% for row in Persona %}
            <tr>
               <td>{{ row.0 }}</td>
               <td>{{ row.1 }}</td>
               <td>{{ row.2 }}</td>
               <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>
               <td>
                  <a href="#!" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalEdit{{ row.0 }}" >Editar  </a>
                  <a href="/hapus/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('¿Desea eliminar el Registros?')">Eliminar</a>
               </td>
            </tr>
            <!-- Modal -->
            <div id="modalEdit{{ row.0 }}" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar Persona</h4>
                     </div>
                     <div class="modal-body">
                        <form action="{{ url_for('update') }}" method="POST">
                           <div class="form-group">
                           <label>Nombre:</label>
                              <input type="hidden" name="id" value="{{ row.0 }}">
                              <input type="text" class="form-control" name="strNombre" value="{{ row.1 }}">
                           </div>
                           <div class="form-group">
                              <label>Apellido Paterno:</label>
                              <input type="hidden" name="id" value="{{ row.0 }}">
                              <input type="text" class="form-control" name="strApaterno" value="{{ row.2 }}">
                           </div>
                           <div class="form-group">
                              <label>Apellido Materno:</label>
                              <input type="hidden" name="id" value="{{ row.0 }}">
                              <input type="text" class="form-control" name="strAmaterno" value="{{ row.3 }}">
                           </div>
                           <div class="form-group">
                              <label>Fecha Nacimiento:</label>
                              <input type="hidden" name="id" value="{{ row.0 }}">
                              <input type="date" class="form-control" name="dtefechaNacimiento" value="{{ row.4 }}">
                           </div>
                           <div class="form-group">
                              <button class="btn btn-warning" type="submit">Aceptar</button>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                     </div>
                  </div>
               </div>
            </div>
{% else %}
            <tr>
               <td colspan="5">No hay Registros</td>
            </tr>
{% endfor %}
         </tbody>
      </table>
   </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Agregar Persona</h4>
         </div>
         <div class="modal-body">
            <form action="{{ url_for('simpan') }}" method="POST">
               <div class="form-group">
                  <label>Nombre:</label>
                  <input type="text" class="form-control" name="strNombre">
               </div>
                <div class="form-group">
                  <label>Apellido Paterno:</label>
                  <input type="text" class="form-control" name="strApaterno">
               </div>
                <div class="form-group">
                  <label>Apellido Materno:</label>
                  <input type="text" class="form-control" name="strAmaterno">
               </div>
                <div class="form-group">
                  <label>Feha Nacimiento:</label>
                  <input type="date" class="form-control" name="dtefechaNacimiento">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="sbumit">Aceptar</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
         </div>
      </div>
   </div>
</div>
<!-- /.container -->
{% endblock %}